@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

a { border:0;}

body {

font-family: Arial, Helvetica, sans-serif; font-size:13px; margin:0;
}

.header_content { height:auto; width:1000px; margin:0 auto; background-color:#fff; }
.header_wrap{ height:85px; width:100%; margin:0; background-color:#258EC8; }
.header{ height:85px; width:1000px; background:#258EC8; margin:0; }
.header_time{ height:auto;  float:left; padding:60px 0px 0px 20px; }
.header_right{ height:150px; width:auto; float:right; }
.logo { height:auto; width:349px; float:left; padding:22px 0px 0px 10px; }
.user_log { height:60px; width:auto; float:right !important; line-height:10px; }
.user_log a { text-decoration:none; color:#000; line-height:10px; }
.user_log a:hover { text-decoration:underline; }

.content { height:auto !important;  min-height:500px; width:1000px; background-color:#EDF0F5; margin:0px auto; }
.content h1 { font-size:18px; font-weight:100; color:#4A99C5; margin:0px;  line-height:18px; padding:20px 0px 10px 20px; } 
.avid{ font-size:18px; font-weight:100; color:#FF5500; margin:0px;  line-height:18px; padding:20px 0px 10px 20px; } 
.editpro { width:120px; float: right; margin : 0 10px; } 
  .editpro a { display: inline-block;  margin-top: 0px; margin-bottom: 1px;  margin-left: 0px; padding: 4px 15px; border: 1px solid #ebdada; border-radius: 5px;
  background-color: rgba(224, 213, 213, 0);  box-shadow: none; -webkit-transition: all 800ms linear; -o-transition: all 800ms linear; transition: all 800ms linear;  font-family: Lato, sans-serif;  color: #ed5565; font-size: 14px;  font-weight: 700;  text-align: center; text-decoration:none;} 

.editpro a:hover {   border-radius: 5px; background-color: #ed5565;  box-shadow: none; color: white; text-decoration:none; }

.notify_red{ font-size:16px; font-weight:100; color:#FF0000; margin:0px;  line-height:18px; padding:10px 0px 10px 20px; } 
.notify_green { font-size:16px; font-weight:100; color:#1A9F60; margin:0px;  line-height:18px; padding:10px 0px 10px 20px; } 
.notify_text { font-size:14px; font-weight:100; color:#000000; margin:0px;  line-height:15px; padding:10px 0px 10px 20px; } 

.content1 { height:auto; min-height:400px; width:200px; background-color:#fff; margin:0px; }

.content_form{ height:auto; width:720px; margin-top:0px; margin-bottom:10px;  background-color:#f5f6fa; padding:10px 0px 0px 20px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }
.list_emp{ height:auto; width:740px; margin-top:0px; margin-bottom:10px;  background-color:#f5f6fa; padding:10px 0px 0px 20px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }
.list_emp a{ text-decoration:none; color:#4ea6f0; }
.list_emp a:hover{ text-decoration:underline; color:#4ea6f0;   }
.content_button { height:auto; width:220px; float:left; padding-left:10px; margin-top:200px; margin-left:160px;}
.content_button_right { height:auto; width:360px; float:right; padding-right:100px; margin-top:200px; }
.clear { clear:both;}
label { width:100px; float:left; font-size:12px;line-height:24px;font-weight:bold;}
label#pawd,#rpawd { width:120px; float:left; font-size:12px;}

label#B_end,#B_start,#A_end,#a_start,#C_end,#c_start,#T_end,#TA_start { width:72px; float:left; font-size:12px;line-height:24px;font-weight:bold; margin-left:10px;}

input { width:300px; margin:5px 0px 5px 20px; padding:2px 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;border:1px solid #CCC; height:30px; clear:both;}
input[type="radio"] { width:20px; height: 16px; margin:15px 0px 5px 20px; vertical-align: sub;}
input[type="submit"] { width:310px; margin:5px 0px 15px 20px; padding:2px 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;border:1px solid #CCC; height:40px; clear:both; background-color:#258EC8;}
select {
    width:310px; margin:5px 0px 5px 20px; padding:2px 5px; -webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;border:1px solid #CCC; height:40px; clear:both;
}
textarea {
    width:572px;
    margin-bottom:5px;
    line-height:18px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCC; height:50px !important;
}
.footer_wrap { height:60px; width:100%; padding:0px; margin:0;   background:#000000;  }
.footer { height:60px; width:1000px; padding:0px; margin:0 auto;   background:#000000;  }

.pro_label { font-size:14px; font-weight:100; color:#000000; margin:0px;  line-height:15px; padding:10px 0px 10px 20px; width: 40%; float:left; } 
.pro_values { font-size:14px; font-weight:100; color:#000000; margin:0px;  line-height:15px; padding:10px 0px 10px 20px; width: 40%;  float:left; } 

