@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

a { border:0;}

body {

font-family: Arial, Helvetica, sans-serif; font-size:13px; margin:0;overflow-x:hidden;
}

.header_content { height:auto; width:1000px; margin:0 auto; background-color:#fff; }
.header_wrap{ height:92px; width:100%; margin:0; background-color:#008DC5; }
.header{ height:85px; width:1000px; background:#258EC8; margin:0px auto; }
.header_time{ height:auto;  float:left; padding:60px 0px 0px 20px; }
.header_right{ height:150px; width:auto; float:right; }
.logo { height:auto; width:349px; float:left; padding:22px 0px 0px 10px; }
.user_log { height:60px; width:auto; float:right !important; line-height:10px; }
.user_log a { text-decoration:none; color:#000; line-height:10px; }
.user_log a:hover { text-decoration:underline; }

.content { height:auto;  min-height:500px; width:1000px; background-color:#EDF0F5; margin:0px auto; }
.content h1 { font-size:18px; font-weight:100; color:#4A99C5; margin:0px;  line-height:18px;   padding: 46px 0px 25px 20px; }
.avid{ font-size:18px; font-weight:100; color:#FF5500; margin:0px;  line-height:18px; padding:20px 0px 10px 20px; } 
.editpro { width:120px; float: right; margin : 0 10px; } 
  .editpro a { display: inline-block;  margin-top: 0px; margin-bottom: 1px;  margin-left: 0px; padding: 4px 15px; border: 1px solid #ebdada; border-radius: 5px;
  background-color: rgba(224, 213, 213, 0);  box-shadow: none; -webkit-transition: all 800ms linear; -o-transition: all 800ms linear; transition: all 800ms linear;  font-family: Lato, sans-serif;  color: #ed5565; font-size: 14px;  font-weight: 700;  text-align: center; text-decoration:none;} 

.editpro a:hover {   border-radius: 5px; background-color: #ed5565;  box-shadow: none; color: white; text-decoration:none; }

 
.notify_red{ font-size:16px; font-weight:100; color:#FF0000; margin:0px;  line-height:18px; padding:10px 0px 10px 20px; } 
.notify_green { font-size:16px; font-weight:100; color:#1A9F60; margin:0px;  line-height:18px; padding:10px 0px 10px 20px; } 
.notify_text { font-size:14px; font-weight:100; color:#000000; margin:0px;  line-height:15px; padding:10px 0px 10px 20px; } 

.content1 { height:auto; min-height:400px; width:200px; background-color:#fff; margin:0px; }

.content_form{ height:auto; width:720px; margin-top:0px; margin-bottom:10px;  background-color:#f5f6fa; padding:10px 0px 0px 20px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }
.list_emp{ height:auto; width:740px; margin-top:0px; margin-bottom:10px;  background-color:#f5f6fa; padding:10px 0px 0px 20px; font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }
.list_emp a{ text-decoration:none; color:#4ea6f0; }
.list_emp a:hover{ text-decoration:underline; color:#4ea6f0;   }
.content_button { height:auto; width:220px; float:left; padding-left:10px; margin-top:200px; margin-left:160px;}
.content_button_right { height:auto; width:360px; float:right; padding-right:100px; margin-top:200px; }
.clear { clear:both;}
label { width:100px; float:left; font-size:12px;line-height:24px;font-weight:bold;}
label#pawd,#rpawd { width:120px; float:left; font-size:12px;}

label#B_end,#B_start,#A_end,#a_start,#C_end,#c_start,#T_end,#TA_start { width:72px; float:left; font-size:12px;line-height:24px;font-weight:bold; margin-left:10px;}

input {width: 282px;
  margin: 5px 0px 17px 20px;
  padding: 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px;
  border: 1px solid #E3E3E4;
  height: 33px;
  clear: both;
font-size: 16px;}
input[type="radio"] { width:20px; height: 16px;   
  margin: 12px 10px 10px 20px; vertical-align: sub;}
input[type="submit"] 
{   width: 133px;
  margin: 5px 34px 15px 20px;
  /* padding: 2px 5px; */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CCC;
  height: 40px;
  clear: both;
  background-color: #258EC8;
  color: #fff;
  margin-left: 178px;
  font-size: 20px;
  }
select {
     width: 294px;
  margin: 5px 0px 24px 20px;
  padding: 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px;
  border: 1px solid #CCC;
  height: 40px;
  clear: both;
}
textarea {
    width:572px;
    margin-bottom:5px;
    line-height:18px;
    padding:2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border:1px solid #CCC; height:50px !important;
}
.footer_wrap { height:86px; width:100%; padding:2px; margin:0;   background:#000000;  }
.footer { width:1000px; padding:0px; margin:0 auto;  }



/* 30 jul 15  rincy */
.social_icons
{
	float: right;
	margin: 11px 0
}
.social_icons .fa
{  
      color:#ffffff;
    margin: 0px 6px;
    font-size: 17px;
  
}
.reg_form
{
  margin-left: 17px;
  color: #fff;
  font-size: 14px;
}
.wrapper
{
    width: 100%;
    background-color: #EDF0F5;
}
.footer_1
{
    width: 490px;
    float: left;
    color: #939393;
}
.footer_2
{
    width: 490px;
    float: right;
    color: #939393;
}
.footer_1 p
{
    font-size: 16px;
  margin: 34px 0px;
}
.footer_2 ul
{
    font-size: 16px;
  margin: 34px 0px;
    margin-left: 135px;
}
.footer_2 li
{
    float: left;
    list-style: none;
      margin: 0 13px;
}
.footer_2 li a
{
  color:  #939393;
  text-decoration: none;
  outline: none;
  border-right: 1px solid #939393;
  font-size: 16px;
  text-shadow: 0px -1px 0px rgba(0, 44, 78, 0.5);
  padding-right: 13px;  
    margin-left: -10px;
}
.terms_1 a
{
      border-right:none !important;
}
.wrapper_1
{
    width: 100%;
    background-color: #EDF0F5;
      float: left;

  margin-top: -5px;
}
.section_1
{
    width: 1000px;
    margin:0px auto;
}

.section_2
{
    width: 1000px;
    margin:0px auto;
}
.inner_section_1, .inner_section_2
{
    width: 490px;
    float: left;
      margin-top: 60px;
}
#searc_button
{
  background: url("../images/search.png") no-repeat;
  text-align: center;
  width: 37px;
  height: 37px;
    margin: 6px 17px;
  background-color: #34B0E0;
  border-radius: 8px;

}
.wrapper_1 h2
{
      color: #34B0E0;
  font-weight: normal;
  font-size: 19px;
}
.wrapper_1 input
{
       margin: 6px 0px 0px 0px;
  border-radius: 3px;
}
.wrapper_1 input[type="submit"]
{
  background-color:#3176BB;
  width: 102px;
  font-size: 16px;
  height: 29px;
    float: right;
      margin-right: 195px;
      border-radius: 5px;
}
.para_emp
{
    float: left;
}
.para_emp1
{
    float: left;
}
.sec1, .sec2
{
    float: left;
}
.sec1
{
    padding-bottom: 50px;
}
.inner_section_3 img
{
    margin-left: -49px;
}
.inner_section_3
{
    width: 380px;
    float: left;
      margin-top: 31px;
}
.inner_section_4
{
    width: 620px;
    float: left;
   text-align: justify;
}
.inner_section_4 p
{
      margin-top: 115px;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;  
}
/* 30 jul 15  rincy responsive */
@media screen and (min-width: 320px) and (max-width: 767px){

/* register*/

    .header_content
    {
        width: 100%;
    }
    .header
    {
          width: 100%;
    }
    .logo
    {
        width: 100%;
    }
    .logo a img
    {
        width: 305px;
    }
    .social_icons 
    {
     float: left;
     margin: 0px;
    }  
    .social_icons  p
    {
        float: left;
    }
    .reg_form
    {
        margin-left: 46px;
    }
    .content,  .content form
    {
        width: 100%;
    }
    .footer_wrap
    {
        height: 125px;
    }
    .footer
    {
        width: 100%;
       
    }
    .footer_1
    {
        width:340px;
    }
    .footer_2
    {
        width: 491px;
    }
    .footer_1 p 
    {
      font-size: 16px;
      margin: 16px 10px;
    }
    .footer_2 ul 
    {
      font-size: 16px;
      margin: 16px 2px;
      margin-left: 135px;
   }
   /* index */
   .section_1, .section_2
   {
    width: 100%;
   }
   .inner_section_1, .inner_section_2
   {
    margin-left: 10px;
    margin-top:19px;
    width: 300px;
   }
   .sec1
   {
    padding-bottom: 0px;
   }
   .inner_section_3
   {
    margin-top: 9px;
   }
   .inner_section_4
    {
  width: 338px;
  float: left;
  text-align: justify;
  margin-left: 11px;
  }
 .inner_section_4 p
     {
        margin-top: 0px;
          margin-right: 22px;
     }
 .inner_section_3 img
  {
   margin-left: 0px; 
  width: 300px;
  }
  .inner_section_3
  {
   width: 100%;
  }
    .inner_section_4
    {
       width: 100%;
    }
}
@media screen and (min-width: 360px) and (max-width: 420px){

    .logo a img
     {
      width: 334px;
     }
     .reg_form 
     {
      margin-left: 43px;
     }
     .social_icons p
     {
        margin-left: 20px;
     }
    .footer_2 ul
     {
        margin-left: 91px;
     }
      .inner_section_3 img
      {
       
      width: 360px;
      }
}
@media screen and (min-width: 400px) and (max-width: 460px){
    .footer_2 ul
     {
        margin-left: 52px;
     }
     .social_icons p
      {
       margin-left: 57px;
      }
      .inner_section_3 img
      {
       
      width: 400px;
      }
}
@media screen and (min-width: 500px) and (max-width: 765px){
      .logo
       {
          width: 57%;
       }
       .social_icons
       {
        margin: 17px;
       }
       .wrapper
       {
        text-align: center;
       }
       .footer_1
       {
        width: 488px;
       }
       .footer_1 p 
       {
  
          margin: 16px 37px;
          float: right;
      }
      .footer_2 ul
      {
        margin-left: 0px;
      }
      
}
@media screen and (min-width: 600px) and (max-width: 700px){
     
       .footer_1
       {
        width: 554px;
       }
       
      .footer_2 ul
      {
       
        margin-left: -25px;

      }
}
@media screen and (min-width: 701px) and (max-width: 767px){

      .footer_2 ul
      {
       
        margin-left: -48px;

      }
      .footer_1
       {
          width: 593px;
        }
    }
@media screen and (min-width: 768px) and (max-width: 1030px){
    .header_content
    {
        width: 100%;
    }
    .header
    {
        width: 100%;
    }
    .wrapper
    {
        text-align: center;
    }
    .content
    {
        width: 100%;
    }
   .social_icons
    {
          margin: 11px 35px;
    }
    .footer
    {
        width: 100%;
    }
    .footer_1 
    {
      width: 557px;
      float: right
    }
    .footer_1 p
    {
        margin: 23px 0px;
    } 
    .footer_2 ul
    {
        margin: 10px 0px;
      margin-left: -77px;
    }
    .footer_wrap
    {
        height: 113px;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1024px){
    .footer_2 ul
    {
        margin-left: -176px;
    }
    .footer_1
    {
        width: 669px;
    }
}


.pro_label { font-size:14px; font-weight:100; color:#000000; margin:0px;  line-height:15px; padding:10px 0px 10px 20px; width: 40%; float:left; } 
.pro_values { font-size:14px; font-weight:100; color:#000000; margin:0px;  line-height:15px; padding:10px 0px 10px 20px; width: 40%;  float:left; } 

